<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Admin panel</title>

</head>

<body>
<h1>Admin panel</h1>

<a th:href="@{/admin/projectList}">Project List</a>

<a th:href="@{/admin/addProject}">Add project</a>

<a th:href="@{/admin/userList}">Users List</a>

<a th:href="@{/admin/addUser}">Add user</a>

<a th:href="@{/admin/statusList}">Status List</a>

<a th:href="@{/admin/addStatus}">Add status</a>

<a th:href="@{/admin/priorityList}">Priority List</a>

<a th:href="@{/admin/addPriority}">Add priority</a>



</body>

</html>